<launch>
	<arg name="config_path" default = "$(find feature_tracker)/../config/3dm/3dm_config.yaml" />
	<arg name="vins_path" default = "$(find feature_tracker)/../config/../" />

    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>
    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node pkg="ar_demo" type="ar_demo_node" name="ar_demo_node" output="screen">
        <remap from="~image_raw" to="/mv_25001498/image_raw"/>
        <remap from="~camera_pose" to="/vins_estimator/camera_pose"/>
        <remap from="~pointcloud" to="/vins_estimator/point_cloud"/>
        <param name="calib_file" type="string" value="$(find feature_tracker)/../config/3dm/3dm_config.yaml"/>
        <param name="use_undistored_img" type="bool" value="false"/>
    </node>
</launch>